body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: rgb(240, 240, 240);
}

h1,h2,h3 {
  font-family: 'Varela', sans-serif;
  color: rgb(70, 70, 70);
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 25px;
}

.fab {
  font-size: 30px;
  margin: 10px;
  color: rgba(56, 134, 151, 0.8)
}

.fab:hover {
  color: rgb(56, 134, 151);
  transform: scale(1.1);
}

.list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline > li { 
  display: inline-block;
}

.blue-button {
  display: block;
  background-color: rgb(114, 167, 232);
  color: white;
  width: 120px;
  height: 40px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 0 auto;
  line-height: 38px;
}

.blue-button:hover {
  background-color: rgb(80, 117, 162);
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 50px auto;
  /* background-color: blue; */
}

.card {
  width: 70%;
  margin: 20px auto;
  text-align: center;
  padding: 30px;
  /* margin: 30px; */
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 1px 1px 3px lightgrey;
  background-color: white;
  /* background-color: red; */
}

#profile-pic {
  width: 200px;
  border-radius: 50%;
}

@media (max-width: 1100px) {
  .container {
    width: 1000px
  }
}

@media (max-width: 900px) {
  .container {
    width: 700px
  }
}

@media (max-width: 650px) {
  .container {
    width: 400px
  }
}
